{
    // this "client_id" property is gonna be the application's ID that this program will use
    "client_id": String,

    // this is gonna be the top text
    "details": String,

    // This is gonna be the lower text
    "state": String,

    // This object will contain all settings for the timer
    "timer": {
        // whether or not to enable the timer
        "enabled": Boolean,

        // This will indicate if its gonna be a countdown or a normal timer, the string will either be "countdown" or "normal" just to be clear
	// and if it was nither of those, it will be defaulted to "normal"
        "type": String,

        // The next properties will only be used if its countdown

        // how long the countdown is gonna be
	// this one is required if you want to use a countdown
        "duration_time": Number,

        // what kind of time is gonna be used
	// you can use: 
	// "hours","hour","hor","h",
	// "minutes","minute","min","m",
	// "seconds", "second", "sec", "s"
	// if it was not any of those it will be defaulted to seconds
        "duration_type": String 
    }
}
